html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  margin: 1em 0 1em 1em;
  align-self: center;
  color: black;
}

form {
  background-color: yellow;
}

label {
  display: block;
}
