* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e2e6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.gridsquare {
  width: 4em;
  height: 4em;
  background-color: red;
  display: flex;
}
