html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  margin: 1em 0 1em 1em;
  align-self: center;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60em;
  align-self: center;
  background-color: yellow;
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  box-sizing: border-box;
  width: 15em;
  align-self: center;
}

label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.1em;
  font-size: 1.2em;
}

.form_field {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
}

.form_field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px yellow inset;
}

button {
  display: inline-block;
  width: 10em;
  padding: 1em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  background-color: #ffffff;
  margin: 4em 0 2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  color: #ffffff;
  background-color: #000000;
}

h1 {
  align-self: center;
  margin-top: 0;
}

.info {
  align-self: center;
  margin-top: 2em;
}

.card {
  display: none;
  width: 60em;
  align-self: center;
  margin-top: 2em;
  background-color: yellow;
  border: 2px solid black;
  flex-direction: column;
  padding: 1em;
}

h2 {
  align-self: center;
}

h3 {
  margin: 1em 0 1em 0;
}

p {
  margin: 0;
}
