html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2em;
  margin: 0.25em;
}

a:hover {
  animation: change-a-background 6s linear infinite;
}

@keyframes change-a-background {
  0% {
    background: #19dcea;
    color: #ea2222;
  }
  25% {
    background: #b22cff;
    color: #f5be10;
  }
  50% {
    background: #ea2222;
    color: #19dcea;
  }
  75% {
    background: #f5be10;
    color: #b22cff;
  }
  100% {
    background: #19dcea;
    color: #ea2222;
  }
}
