html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
}

.container {
  width: 60em;
  height: 20em;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3em;
  box-sizing: border-box;
}

span {
  border-radius: 100%;
  width: 7em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0.05em rgba(206, 179, 179, 0.5);
}

.shadow:hover {
  animation-name: shadow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.scale:hover {
  animation-name: scale;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.slide-top:hover {
  animation-name: slide-top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.rotate:hover {
  animation-name: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}

i {
  color: #1da1f2;
}
